apiVersion: v1
# This field can be (Service, Deployment, ReplicaSet, Pod)
kind: Service
metadata:
  name: api-service
spec:
  selector:
    # name of deployment api
    app: produto-api
  ports:
    # port 80 in the service
    - port: 80
      # use of 8080 in the pod (specified in the deployment)
      targetPort: 8080
  type: LoadBalancer
