apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
spec:
  selector:
    app: mongodb
  ports:
    # port service
    - port: 27017
      # port pod mongodb
      targetPort: 27017
  type: ClusterIP
